html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;

}

section {
    opacity: 0;
    transform: translate(0, 100px);
    transition: all 4s;
}

section.visible {
    opacity: 1;
    transform: translate(0, 0);
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    /* color: #fff; */
    color: white;
    background: white;
    /* background: linear-gradient(-90deg, #C2DEFF, #FFC2C2); */
    /* background: linear-gradient(-90deg, #f0f6ff, #fff0f7); */
    background-size: 400% 400%;
    -webkit-animation: Gradient 7s ease infinite;
    -moz-animation: Gradient 7s ease infinite;
    animation: Gradient 7s ease infinite;
    text-shadow: 0px 0.5px 0px rgba(0, 0, 0, 0.15);
}

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

.topper {
    color: gray;
    font-family: Cutive Mono;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    font-size: 1.5vw;
    text-align: center;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    min-height: 4%;
    max-height: 10%;
    width: 90%;
    padding-left: 4%;
    padding-right: 4;
    padding-top: 1%;
    padding-bottom: 1%;
    position: absolute;
    margin-left: 3%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .3);
}


.topper a {
    text-decoration: none;
    border-bottom: 1px dashed #EB6761;
    border-top: 1px dashed #2C7BBE;
    color: gray;
    transition: 0.5s ease;
    width: 20%;
}

.topper a:hover {
    text-decoration: none;
    border-bottom: 1px dashed #2C7BBE;
    border-top: 1px dashed #EB6761;
    background: rgba(255, 255, 255, 0.45);
    width: 30%;
}

.main {
    background: lavender;
    border: 0px solid #ca2b29;
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    /* display: flex;
flex-direction: column;
flex-wrap: wrap;
align-items: flex-start;
align-content: flex-end; */
    /* max-width: 100%;
    min-width: 100%;
    min-height: 100%; */
    /* box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.25), 4px 4px 0px rgba(0, 0, 0, 0.15); */
}

.hero {
    width: 100%;
    height: 100%;
    background: green;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: center;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

.title {
    /* margin-bottom: 10%; */
    font-family: GT-Eesti-Pro-Text-Trial-Book-Italic;
    width: 50%;
    height: 100%;
    margin: 0%;
    text-align: center;
    color: white;
    border: solid 0px transparent;
    background: #ca2b29;
    background: black;
    ;
    transition: 1s ease;
    /* box-shadow: 2px 1px 0px rgba(0, 0, 0, 0.25),
4px 4px 0px rgba(0, 0, 0, 0.15); */
    /* transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg); */
    text-transform: uppercase;
    display: flex;
    align-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    align-items: flex-start;

    /* -webkit-shape-outside: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    shape-outside: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%); */
    z-index: 0;
}

.title:hover {
    background: #4096d3;
    border-right: 00px solid #ca2b29;
}

.title:hover:after {
    border-right: 0px solid #ca2b29;
}


.title:after {
    content: " ";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    background: inherit;
    transform-origin: bottom left;
    -ms-transform: skew(-12deg, 0deg);
    -webkit-transform: skew(-12deg, 0deg);
    transform: skew(-12deg, 0deg);
    border-right: 00px solid #4096d3;
    transition: 1s ease;
}


.leftbrack {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 30vw;
    text-align: left;
    z-index: -1;
    line-height: 0;
    margin-top: -45%;
    margin-bottom: 30%;
    text-shadow: 3px 3px 0px white, 6px 6px 0px rgba(0, 0, 0, 0.15);
    z-index: 1;
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}

.rightbrack {
    color: black;
    font-family: 'Playfair Display', serif;
    font-size: 60vw;
    line-height: 0;
    top: -10%;
    text-align: right;
    z-index: 1;
    margin-top: 0%;
    margin-bottom: 30%;
    text-shadow: 3px 3px 0px white, 6px 6px 0px rgba(0, 0, 0, 0.15);
    transform: scale(1) rotate(0deg) translate(0px, 0px) skew(15deg, 0deg);
}

@font-face {
    font-family: 'GT-Sectra-Display-Trial-Medium';
    src: url("../GT-Sectra-Display-Trial-Medium.otf");
    font-family: 'GT-Eesti-Pro-Text-Trial-Book-Italic';
    src: url("../GT-Eesti-Pro-Text-Trial-Book-Italic.otf");
}

h1 {
    font-size: 16vw;
    line-height: 0px;
    letter-spacing: -0.03em;
    padding-top: 5%;
    margin: 0;
    text-align: center;
    text-shadow: 3px 3px 0px #4096d3, 6px 6px 0px #ca2b29;
    z-index: 1;
    padding-top: 20%;
    padding-left: 5%;
    padding-bottom: 0;

}

h6 {
    font-size: 22vw;
    margin-top: 30%;

    line-height: 0;
    text-align: center;
    letter-spacing: -0.02em;
    text-shadow: 3px 3px 0px #ca2b29, 6px 6px 0px #4096d3;
    z-index: 1;
    padding-left: 20%;
}

.header {
    font-family: 'Playfair Display', serif;
    font-size: 4.5vw;
    line-height: 3.8vw;
    letter-spacing: -0.2vw;
    text-align: left;
    border: 1px solid black;
    border-bottom: 10px solid black;
    background: rgba(255, 255, 255, 0.70);
    padding: 1%;
    color: black;
    z-index: 1;
}

.subheader {
    font-family: 'Playfair Display', serif;
    font-size: 3vw;
    letter-spacing: -0.1vw;
    text-align: center;
    text-transform: uppercase;
    border-bottom: 10px solid #ca2b29;
    color: black;
}

.content {
    background: rgba(255, 255, 255, 0.20);
    border: 1px solid black;
    border-top: 1px solid black;
    margin-bottom: 5%;
    padding: 1.5%;
    z-index: 2;
}

.content p {
    font-family: 'PT Mono';
    font-size: 1.5vw;
    text-align: right;
    line-height: 2.8vw;
    color: gray;
    word-break: normal;
}

.content ul {
    /* list-style-image: url('sqpurple.gif'); */
    list-style: '▹ ';
    font-family: 'PT Mono';
    color: gray;
    font-size: 1.5vw;
    letter-spacing: 0.2em;
    line-height: 2.8vw;
    text-align: justify;
    column-count: 3;
    list-style-image: url('sqpurple.gif');
    /* word-break: break-all; */
}

.content a {
    text-decoration: none;
    border-bottom: 2px dashed #ca2b29;
    color: gray;
    transition: 0.7s ease;
}

.content a:hover {
    text-decoration: none;
    border-bottom: 2px dashed #4096d3;
    color: white;
}

.icons {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    padding: 3%;
}

.icons a {
    text-decoration: none;
    border-bottom: 0px;
}

.icons a:hover {
    text-decoration: none;
    border-bottom: 0px;
}

.icon1 img {
    max-width: 45%;
    border: 1px solid white;
    margin: 2%;
    margin-top: 3%;
    transition: 0.5s ease;
    box-shadow: 3px 3px 0px #4096d3, 0.4em 0.5em 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.icon1 img:hover {
    /* min-width: 10%; */
    max-width: 45%;
    border: 1px solid white;
    margin: 2%;
    margin-top: 3%;
    transition: 0.5s ease;
    box-shadow: 4px 2px 0px #ca2b29, 8px 8px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
}

.icon2 img {
    /* min-width: 10%; */
    max-width: 45%;
    border: 1px solid white;
    margin: 2%;
    margin-top: 3%;
    transition: 0.5s ease;
    box-shadow: 3px 3px 0px #ca2b29, 0.4em 0.5em 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}

.icon2 img:hover {
    /* min-width: 10%; */
    max-width: 45%;
    border: 1px solid white;
    margin: 2%;
    margin-top: 3%;
    transition: 0.5s ease;
    box-shadow: 4px 2px 0px #4096d3, 8px 8px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);

}

b {
    font-family: 'PT Mono';
    border-bottom: 5px solid #4096d3;
    line-height: 0px;
    font-weight: normal;
}

i {
    font-family: 'PT Mono';
    border-bottom: 5px solid #ca2b29;
    line-height: 0px;
    font-weight: normal;
    text-decoration: none;
    font-style: normal;
}

.button {
    border: 1px solid white;
}

.knife {
    min-width: 50%;
    max-width: 50%;
    height: 100%;
    padding: 0%;
    background-color: white;
    display: flex;
    align-content: center;
    align-items: flex-end;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-end;
}

.knife img {
    filter: invert(100%);
    transform: rotate(45deg);
    float: left;
    margin-top: -10%;
    margin-bottom: 5%;
}

.knife a {
    font-family: 'Playfair Display', serif;
    font-size: 6.5vw;
    color: black;
    /* line-height: 13vh; */
    letter-spacing: -0.07em;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 10px solid cornflowerblue;
    transition: 1s ease;
}

.knife a:hover {
    font-family: 'Playfair Display', serif;
    font-size: 6.5vw;
    color: black;
    /* margin-top: 1em; */
    /* line-height: 13vh; */
    /* letter-spacing: 0.2em; */
    font-weight: bold;
    text-decoration: none;
}

.dev a {
    border-bottom: 1.5vh solid #ca2b29;
    text-align: left;
}

.des {
    text-align: center;
}

.des a {
    border-bottom: 1.5vh solid #4096d3;
}

.dat {
    text-align: right;
}

.dat a {
    border-bottom: 1.5vh solid #ca2b29;
}

.footer {
    font-family: Cutive Mono;
    font-size: 0.8vw;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.5em;
    padding-bottom: 1vh;
    margin-top: 1vh;
    padding: 1%;
    background-color: rgba(255, 255, 255, .3);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    position: absolute;
    min-height: 2%;
    width: 95%;
    margin-left: 1%;
    bottom: 30;
    color: gray;
}

.about img {
    max-width: 15%;
    border: 1px solid white;
    float: right;
    margin: 2%;
    margin-top: 3%;
    transition: 0.5s ease;
    box-shadow: 3px 3px 0px #4096d3, 0.4em 0.5em 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
    /* filter: grayscale(); */
}

.about img:hover {
    box-shadow: 4px 4px 0px #ca2b29, 12px 12px 0px rgba(0, 0, 0, 0.15);
    -webkit-transform: translateX(-5px);
    transform: translateX(-5px);
    filter: none;
}